.bg-cont {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-cont {
  height: 300px;
  width: 500px;
  padding: 10px;
  margin-top: 40px;
}
.nf-image {
  height: 290px;
  width: 480px;
}
.not-found-heading {
  font-size: 44px;
  font-family: 'Roboto';
  font-weight: 800;
  margin-top: 20px;
  color: #ffffff;
  margin-left: 70px;
}
.not-desc {
  font-size: 18px;
  font-family: 'Roboto';
  margin-top: 20px;
  color: #ffffff;
}
