.head-cont {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.logo-img {
  height: 35px;
  width: 135px;
}
.nav-items-cont {
  display: flex;
  color: #ffffff;
}
.btn-logout {
  background-color: #4f46e5;
  color: #ffffff;
  border-style: none;
  border-radius: 5px;
  height: 28px;
  width: 70px;
}
.nav-link {
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-family: 'roboto';
  margin: 10px;
}
